:root {
  --wrapper-border-color:rgba(221, 221, 221,1 );
  --wrapper-border-dark-color:rgba(78, 78, 78, 1);
  --toolbar-border-top-color:rgba(34, 34, 34, 1);
  --toolbar-button-hover-color:rgba(235, 235, 235, 1);
  --toolbar-separator-color:rgba(235, 235, 235, 1);
  --toolbar-active-color:rgba(30, 136, 229, 1);
}
.tiptap-toolbar button i {
  display: block;
  font-size:14px;
  width:14px;
  margin:12px;
  text-align: center;
  float:none;
}
.tiptap .is-active{
  color:var(--toolbar-active-color);
}
.tiptap-separator{
  background: var(--toolbar-separator-color);
  display: block;
  vertical-align: top;
  float:left;
  height:34px;
  width:1px;
  margin:2px;
}
.tiptap-toolbar button:hover{
  background: var(--toolbar-button-hover-color);
  transition: ease-in .2s;
}
.tiptap-toolbar .popup{
  position: absolute;
  border-top:4px solid var(--wrapper-border-color)
}
.tiptap-toolbar button, .tiptap-toolbar input[type='color'] {
  width:38px;
  height:38px;
  float:left;
  padding:0;
  box-sizing: border-box;
  border:0;
  background:transparent;
  cursor: pointer;
  margin:0 2px;
}
.tiptap-toolbar {
  border-top:5px solid var(--toolbar-border-top-color);
  box-shadow:0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px 1px rgb(0 0 0 / 16%);
}
.tiptap-toolbar:after{
  clear: both;
  content:'';
  display: block;
}
.tiptap-body {
  border-top:0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px 1px rgb(0 0 0 / 16%);
}
.editor-body{
  padding:16px;
}
.ProseMirror:focus{outline:none}

/* Basic editor styles */
.ProseMirror > * + * {
  margin-top: 0.75em;
}
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror pre .hljs-comment,
.ProseMirror pre .hljs-quote {
  color: #616161;
}
.ProseMirror pre .hljs-variable,
.ProseMirror pre .hljs-template-variable,
.ProseMirror pre .hljs-attribute,
.ProseMirror pre .hljs-tag,
.ProseMirror pre .hljs-name,
.ProseMirror pre .hljs-regexp,
.ProseMirror pre .hljs-link,
.ProseMirror pre .hljs-name,
.ProseMirror pre .hljs-selector-id,
.ProseMirror pre .hljs-selector-class {
  color: #f98181;
}
.ProseMirror pre .hljs-number,
.ProseMirror pre .hljs-meta,
.ProseMirror pre .hljs-built_in,
.ProseMirror pre .hljs-builtin-name,
.ProseMirror pre .hljs-literal,
.ProseMirror pre .hljs-type,
.ProseMirror pre .hljs-params {
  color: #fbbc88;
}
.ProseMirror pre .hljs-string,
.ProseMirror pre .hljs-symbol,
.ProseMirror pre .hljs-bullet {
  color: #b9f18d;
}
.ProseMirror pre .hljs-title,
.ProseMirror pre .hljs-section {
  color: #faf594;
}
.ProseMirror pre .hljs-keyword,
.ProseMirror pre .hljs-selector-tag {
  color: #70cff8;
}
.ProseMirror pre .hljs-emphasis {
  font-style: italic;
}
.ProseMirror pre .hljs-strong {
  font-weight: 700;
}
.ProseMirror pre{
  background: #0d0d0d;
  color: #fff;
  font-family: JetBrainsMono,monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}